#navbar {
  background-color: #1e293b;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.img-logo {
  width: 40px;
}

.navbar.navbar-expand-lg.sticky-top {
  font-size: 20px;
}

#btnBusca,
#btnTema {
  font-size: 19px;
}

.form-control {
  font-size: 19px;
}

.navbar-brand {
  font-size: 30px;
  color: white;
}

.link-nav {
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease;
}

.link-nav:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: transparent;
  color: white;
}

.linkFooter {
  color: rgb(188, 189, 198);
  display: inline-block;
  text-decoration: none;
}

.linkFooter:hover {
  color: rgb(255, 255, 255);
}

/* ---------------------------------PARTE PRINCIPAL--------------------------------- */
body {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: 70px;
}

html {
  scroll-behavior: smooth;
}
/* ------------------------------BOTOES------------------------------------- */
.btn-fit {
  margin-top: 30px;
  margin-bottom: 35px;
  padding: 12px 35px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primario {
  background-color: #0e7654;
  color: #ffffff;
}

.btn-primario:hover {
  background-color: #0b5d42;
}

.btn-secundario {
  background-color: #ffc107;
  color: #000000;
}

.btn-explorar {
  display: inline-block;
  padding: 8px 20px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-explorar:hover {
  background-color: #ffffff;
  color: #000000;
}

/* -----------------------------------------MAIN----------------------------------------- */
h2 {
  margin-bottom: 50px;
  color: white;
}

#imgExercicioMain {
  width: 100% ;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
#tituloFuncionalidades {
  margin-top: 50px;
  margin-bottom: 50px;
}

#tituloHero {
  margin-top: 50px;
}
.textoSecundario {
  color: #a1a5ab;
  margin-bottom: 30px;
}
.img-icone {
  width: 40px;
  height: 40px;
}
.titulos{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* -----------------------------------------------Cards---------------------------------------------- */
.card-it {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  
}

.card-it:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.cardComo{
    border-radius: 90%;
    background-color: rgb(29, 114, 1);
}
