
#navbar {
    background-color: #1E293B;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar.navbar-expand-lg.sticky-top {
    font-size: 20px;
}

#btnBusca, #btnTema {
    font-size: 19px;
}

.form-control {
    font-size: 19px;
}

.navbar-brand {
    font-size: 30px;
    color: white;
}

#linkNav {
    font-size: 22px;
    color: white;
    transition: transform 0.3s ease;
}

#linkNav:hover {
    transform: scale(1.1);
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: transparent;
    color: white;
}

.linkFooter {
    color: rgb(188, 189, 198);
    display: inline-block;
    text-decoration: none;
}

.linkFooter:hover {
    color: rgb(255, 255, 255);
}

/* ---------------------------------PARTE PRINCIPAL--------------------------------- */
body {
    background-color: #1E293B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-top: 70px;
}

h2 {
    margin-bottom: 50px;
    color: white;
}
/* -----------------------------------------MAIN----------------------------------------- */
#botaoMain{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}
#imgExercicio{
   width: 100%; 
    max-height: 300px; 
    object-fit: cover; 
    border-radius: 8px; 
}
   
