
/* --------------------------------------NAVBAR------------------------------------------------ */
.navbar.navbar-expand-lg.sticky-top{
    font-size: 20px;
}
#btnBusca,#btnTema{
    font-size: 19px;
}
.form-control{
    font-size: 19px;
}
.navbar-brand {
  font-size: 30px;
}

.nav-link {
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
}